node_modules
.next
.vercel
.vscode
.git
.gitignore
README.md
*.log
docker-compose*
Dockerfile
.dockerignore
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
